@model TransactionsViewModel

@section title {
    <h3>Transactions</h3>
}

<form method="post" asp-controller="transactions" asp-action="search" id="transactions">
    <div class="row">
        <div class="col-2">
            <label asp-for="CashierName"></label>
            <input asp-for="CashierName" class="form-control" />
        </div>
        <div class="col-3">
            <label asp-for="StartDate"></label>
            <input type="date" asp-for="StartDate" class="form-control" />
        </div>
        <div class="col-3">
            <label asp-for="EndDate"></label>
            <input type="date" asp-for="EndDate" class="form-control" />
        </div>
        <div class="col-2">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>
        <div class="col-2">
        </div>
    </div>
</form>
<br />

@if (Model.Transactions != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Cashier Name'</th>
                <th>Product Name</th>
                <th>Qty Before</th>
                <th>Qty Sold</th>
                <th>Qty After</th>
                <th>Price</th>
                <th>Sold Amt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactions in Model.Transactions)
            {
                <tr>
                    <td>@transactions.Timestamp </td>
                    <td>@transactions.CashierName</td>
                    <td>@transactions.ProductName</td>
                    <td>@transactions.BeforeQuantity</td>
                    <td>@transactions.SoldQuantity</td>
                    <td>@(transactions.BeforeQuantity - transactions.SoldQuantity)</td>
                    <td style="text-align:right">@(String.Format("{0:c}", transactions.Price))</td>
                    <td style="text-align:right">@(String.Format("{0:c}", transactions.SoldQuantity * transactions.Price))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td style="text-align:right">
                    <b>Grand Total:</b>
                </td>
                <td style="text-align:right">
                    <b>@(string.Format("{0:c}", Model.Transactions.Sum(x => x.Price * x.SoldQuantity)))</b>
                </td>
            </tr>
        </tfoot>
    </table>
}